* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    position: fixed;
    top:0;
    left: 0;
    width: 95%;
    padding: 20 px 10%; 
    margin-right: 20%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 30px;
    color: rgb(15, 13, 12);
    text-decoration: none;
    font-weight: 400;
    justify-content: space-between;
    font-style: italic;
    margin-left: 20%;
    font-style: initial;
}
.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight:500;
    margin-left: 30px;
    transition: .2s;
}
.navbar a:hover,
.navbar a.active {
    color: rgb(200, 18, 18);
}
.home {
    height: 100vh;
    background: linear-gradient( -90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image {
    width: 550px;
    height: 550px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
}
.home-content {
    max-width: 600px;
    color: #f4f4f7;
    text-align: right;
}
.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}
.home-content h3 {
    font-size: 40px;
    color: #00abf0;
    -webkit-text-stroke: .5px #fff;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(248, 244, 244);
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 100%;
    text-decoration: none;
    margin-left: 12px;
}
.home-sci a {
    margin-top: 300%;
}
.home-image img {
    position: relative;
    top: 22px;
    max-width: 380px;
}
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}

